char encoding: UTF-8 only?

https://ietf-wg-httpapi.github.io/mediatypes/draft-ietf-httpapi-yaml-mediatypes.html#name-yaml-and-json (@ioggstream)
"the following ones might have interoperability issues with JSON: non UTF-8 encoding, since YAML supports UTF-16 and UTF-32 in addition to UTF-8".

Can we demand that YAML-LD be in UTF-8 only?

Turtle allows only UTF-8 (https://www.w3.org/TR/turtle/#sec-mediaReg), so I see no loss for those other encodings


Both RDF, in general, and JSON, in specific are UTF-8 only. YAML allows a greater variation, but if we allow YAML-LD to include, e.g., UTF-16 or -32 the potential corner cases become quite difficult to handle. I would say that we restrict YAML-LD file compatibility to be UTF-8 only.

100% agreed, I have not seen any practical use cases where anything other than UTF-8 would have been necessary.

Nitpicking, but
- RDF as an abstract synyax ls encoding agnostic, it is *not* UTF-8 only. It might be true that most concrete syntaxes are UTF-8 only (I didn't check) but that does not make UTF-16 or UTF-32 unsuitable for RDF in  general.
- UTF-8, -16 and -32 are all *universal* coding schemes for Unicode, so obviously there are no cases where replacing UTF-8 by another one would be "necessary". However UTF-16 is more space efficient when you write mostly in some east-asian languages.

That being said, I know that in oractice, encoding issues can be a mess. But if the YAML ecosystem is dealing correctly with those, it may be a waste not to take advantage of it.

> Nitpicking, but
> 
> * RDF as an abstract synyax ls encoding agnostic, it is _not_ UTF-8 only. It might be true that most concrete syntaxes are UTF-8 only (I didn't check) but that does not make UTF-16 or UTF-32 unsuitable for RDF in  general.

You're absolutely right, it's the specific encodings that restrict themselves (uniformly, I believe) to UTF-8. Allowing anything other than UTF-8 would create issues when re-serializing to something like Turtle/TriG or even N-Quads. (Actually, RDFa and possibly RDF/XML allow other encodings, but that's because of the legacy HTML/XML carrier).

>can be serialzed without any problem

In theory yes. In practice, not always :-) (At least not so easily)

Remembering Postel's Law, I'll suggest that YAML-LD processor SHOULD accept UTF-8, UTF-16, and UTF-32.  It *may* be reasonable to make UTF-8 consumption a MUST with the others as SHOULD or MAY.

YAML-LD generation could reasonably be absolutely restricted to UTF-8, or allowed to support UTF-16 and/or UTF-32 output upon specific user control/request (though there doesn't seem to be any situation where a consumer would handle UTF-16 or UTF-32 but not UTF-8).

I agree on the SHOULD accept, but for interoperability, we should probably always emit UTF-8. Of course, any given implementation may provide their own options for preserving the input character encoding.

> Remembering Postel's Law

Some years ago I found this very interesting lecture on the [The Harmful Consequences of the Robustness Principle](https://www.ietf.org/archive/id/draft-iab-protocol-maintenance-07.html) :P In general I still see a lof of encoding issues in wide API ecosystems, so I tend to lean on UTF-8. 

> for interoperability, we should probably always emit UTF-8

+1. 





+1 to being strict on what you accept; find and fix errors as quickly as possible.

Every spec for an RDF textual format I've worked on stipulates UTF-8. This precedent was established in discussion with [‪Martin Dürst‬](https://scholar.google.co.jp/citations?user=-gGaGsgAAAAJ&hl=en) (W3C i18n). Non-textual formats (XML, JSON) inherit flexibility from their parent format. 
* RDF/XML - set by [XML EncodingDecl](https://www.w3.org/TR/xml/#NT-EncodingDecl); from XML, implementations [must support UTF-8 and UTF-16](https://www.w3.org/TR/xml/#charencoding); syntax spec includes [example with `encoding="utf-8"`](https://www.w3.org/TR/rdf-syntax-grammar/#section-Syntax-complete-document)
* [application/rdf+xml](https://www.iana.org/assignments/media-types/application/rdf+xml) - "**Encoding considerations:** Same as charset parameter of application/xml, defined in RFC 3023 [4]."
* SPARQL 1.x, Turtle, n-triples, n-quads - no mention of character encoding (outside of embedded media type registration)
  * [text/turtle](https://www.iana.org/assignments/media-types/text/turtle) - "**Encoding considerations:** The encoding is always UTF-8 [RFC3629]."
  * [application/trig](https://www.iana.org/assignments/media-types/application/trig) - "**Encoding considerations:** The encoding is always UTF-8."
  * [application/n-triples](https://www.iana.org/assignments/media-types/application/n-triples) - "**Encoding considerations:** The encoding is always UTF-8."
  * [application/n-quads](https://www.iana.org/assignments/media-types/application/n-quads) - "**Encoding considerations:** The encoding is always UTF-8."
  * [application/sparql-query](https://www.iana.org/assignments/media-types/application/sparql-query) - "**Encoding considerations:** The encoding is always UTF-8 [[RFC3629](https://www.w3.org/TR/2007/CR-rdf-sparql-query-20070614/#rfc3629)]."
* sparql-results
  * [application/sparql-results+xml](https://www.iana.org/assignments/media-types/application/sparql-results+xml) - "**Encoding considerations:** Identical to those of "application/xml" as specified in [[RFC3023]](https://www.w3.org/TR/rdf-sparql-XMLres/#mime-rfc-3023), section 3.2."
  * [application/sparql-results+json](https://www.iana.org/assignments/media-types/application/sparql-results+json) - "**Encoding considerations:** The encoding considerations of the SPARQL Query Results JSON Format is identical to those of the "application/json" as specified in [[JSON-RFC](https://www.w3.org/TR/sparql11-results-json/#JSON-RFC)]."
  * [CSV/TSV](https://www.w3.org/TR/2013/REC-sparql11-results-csv-tsv-20130321/) - no mention of character encoding; normative ref to [text/tab-separated-values](https://www.iana.org/assignments/media-types/text/tab-separated-values) and to [RFC4180](https://datatracker.ietf.org/doc/html/rfc4180):
    * [RFC4180](https://datatracker.ietf.org/doc/html/rfc4180) - no reference to character encoding outside embedded media type registration
    * [text/csv](https://www.iana.org/assignments/media-types/text/csv) - references [RFC2046 (MIME media types)](https://datatracker.ietf.org/doc/html/rfc2046)'s CRLF rules
    * [text/tab-separated-values](https://www.iana.org/assignments/media-types/text/tab-separated-values) - "**Required Parameters:** Character Set, Encoding Type"

This is a fairly consistent story apart from the split between `text/` and `application/`, where Turtle and CSV favor direct textual display over binary download.
Also, I have no idea if people actually include a Character Set or Encoding Type in foo.tsv headers. I guess then it falls back to a `text/*` default, which is probably something jingoistic like 8859-1. Maybe we can request an update from the authors: U of MN Internet Gopher Team <gopher&boombox.micro.umn.edu>.

Fixed by #34 